.course-goals h2{
    text-align: center;
}

.goal-list {
  list-style: none;
  margin: 2rem;
  padding: 0;
}

.goal-list li {
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
}

.new-goal {
  margin: 2rem;
  text-align: center;
}